<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Hello There, Series !</h1>
    <h2>From Test</h2>

    {# Création de variable #}
    {% set name = "Mon nom" %}

    {# Afficher le contenu d'une variable #}
    <h3>Hello {{ name }}</h3>

    {# Création d'un tableau #}
    {% set colors = ['blue', 'yellow', 'red', 'green', 'white', 'black', 'orange'] %}

    {# Boucler sur un tableau #}
    {% for color in colors %}
        {# Usage de loop pour un tableau #}
        {% if loop.first %}
            <p>Première itération</p>
        {% endif %}

        <div style="background:{{ color }};padding:0.5rem;">{{ color }}</div>
        <div>Index: {{ loop.index }}</div>
        <br>

        {% if loop.last %}
            <div>Nombre d'élément(s) du tableau : {{ loop.length }}</div>
        {% endif %}
    {% endfor %}

    {# Création d'un objet #}
    {% set serie =
        {
            'name' : 'Stranger Things',
            'year' : 2016,
            'author' : 'Duffer'
        }
    %}

    <h3>{{ serie.name }}</h3>
    <p>{{ serie.year }} - {{ serie.author }}</p>

</body>
</html>