{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello There, Series ! {{ username }}</h1>
    <h2>From Test</h2>

    {# Création de variable #}
    {% set name = "Mon nom" %}

    {# Afficher le contenu d'une variable #}
    <h3>Hello {{ name }}</h3>

    {# Création d'un tableau #}
    {% set colors = ['blue', 'yellow', 'red', 'green', 'white', 'black', 'orange'] %}

    {# Boucler sur un tableau #}
    {% for color in colors %}
        {# Usage de loop pour un tableau #}
        {% if loop.first %}
            <p>Première itération</p>
        {% endif %}

        <div style="background:{{ color }};padding:0.5rem;">{{ color }}</div>
        <div>Index: {{ loop.index }}</div>
        <br>

        {% if loop.last %}
            <div>Nombre d'élément(s) du tableau : {{ loop.length }}</div>
        {% endif %}
    {% endfor %}

    {# Création d'un objet #}
    {% set serie =
        {
            'name' : 'Stranger Things',
            'year' : 2016,
            'author' : 'Duffer'
        } %}

    <h3>{{ serie.name }}</h3>

    {% for key, val in serie %}
        <div>{{ key }} : {{ val }}</div>
    {% endfor %}

    <hr>

    {# Quelques filtres #}
    <div>{{ name | upper }} contient {{ name | length }} lettre(s)</div>

    <div>Tableau de couleurs contient {{ colors | length }} couleur(s)</div>

    <div>Tableau : {{ colors | join(', ') }}</div>

    <div>{{ "now" | date('Y-m-d') }}</div>
{% endblock %}

{% block title %} {{ parent() }} | Test {% endblock %}