{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | List
{% endblock %}

{% block body %}
    <h1>List of series</h1>

    <section class="serie-list">
        {% for serie in series %}
            <article>
                <a href="{{ path('serie_show', {'id': serie.id}) }}">
                    <img src="{{ asset('images/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
                </a>
                <div>{{ serie.name }}</div>
            </article>
        {% endfor %}
    </section>
{% endblock %}