<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" class="brand">Series</a></li>
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('main_test') }}" title="Test">Test</a></li>
        <li><a href="{{ path('serie_list') }}" title="List of series">List of Series</a></li>
        <li><a href="{{ path('serie_add') }}" title="Create serie">Create Serie</a></li>
        <li><a href="{{ path('season_add') }}" title="Create season">Create Season</a></li>
    </ul>
</nav>